@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Double:wght@100..900&family=Dancing+Script:wght@400..700&family=Libertinus+Math&family=Sevillana&display=swap');

body{
    font-family:"Sevillana", cursive;
    margin: 50px 50px 0 50px;
    background: white;
    background: linear-gradient(white,midnightblue);
    display: flex;
    flex-direction: column;
 }

 .Ari{
  height: 25%;
  width: 60%;
  display:block;
  margin-left: auto;
  margin-right: auto;
 }

.alif p {
 color: orange;
 font-size: 60px;
 font-weight: 600;
 margin-left: 255px;
margin-bottom: 3px;
}

.alif h3{
 color: aqua;
 font-size: 60px;
 margin-top: 5px;
 margin-left: 255px;
 font-weight: 400;
}

.sarco .ay{
 float: right;
 width: 300px;
 margin: 10px;
}

.sarco .narutoacademi{
    display:block;
    justify-content: right;
    font-size: 30px;
    margin-left: 300px;
}


 .camp {
    font-size:35px;
    display: flex;
    justify-content: end;
    color: white;
    font-weight: 400;
    float: inline;
 
 }
.camp .meh{
  width: 550px;
  height: 400px;
  float: inline;
  }

.camp p{
   margin-left:10px;
 
}
footer{
 text-align:center;
 margin: 0;
 color: white;
 font-size: larger;
 font-weight: 900;
 background: purple;
 background: linear-gradient(to right ,midnightblue,purple);
 display: flex;
 position:relative;
 flex-direction:column;
}